mixin card(think)
  li.tickets-list__item
    .ticket-card.ticket-card--color06
      .ticket-card__img
        img(src=think.image alt="Изображение товара")
      .ticket-card__info
        span.ticket-card__label #{think.label}
        .ticket-card__categories
          a(href="#") #{think.category}
        .ticket-card__header
          h3.ticket-card__title
            a(href="#") #{think.name}
          p.ticket-card__price
            span.js-sum #{think.name} ₽</p>
        .ticket-card__desc
          p #{think.description}
